/*

Colors Index
============
Black Header BG: #1d161a;
Gold Font: goldenrod
Dark Blues: midnightblue < #121254 < #0e0e3f
Light Blues: #3f3fd9

*/

/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
  background: #0e0e3f;
}

/* Header Styles */
.intro {
  position: relative;
  /* height: 800px; */
  /* min-height: 500px; */
  min-height: 100vh;
  width: 100%;
  /* background: #1d161a; */
  background: #121254;
  text-align: center;
  overflow: hidden;
}

.profile-pic {
  /* position: relative; */
  margin-top: 86px;
  margin-bottom: 30px;
  width: 175px;
  height: 175px;
  border-radius: 100%;
  box-shadow: 5px 5px 5px rgba(218, 165, 32, 0.1); /* Goldenrod rgba shadow */
  /* margin-bottom: 25px; */
}

.wave-horizontal {
  /* align-self: flex-end; */
  animation-duration: 4s;
  animation-iteration-count: infinite;
  /* background-color: #F44336; */
  /* height: 200px; */
  /* margin: 0 auto 0 auto; */
  /* transform-origin: bottom; */
  animation-name: wavy;
  animation-timing-function: ease-out;
  /* width: 200px; */
}

@keyframes wavy {
  0% {
    transform: scale(1, 1) skew(0, 0);
  }
  33% {
    transform: scale(0.99, 1) skew(2deg, 0);
  }
  66% {
    transform: scale(1.01, 1) skew(-2deg, 0);
  }
  100% {
    transform: scale(1, 1) skew(0, 0);
  }
}

/* .intro .row .banner {
  position: fixed;
}

.test {
  width: 500px;
  height: 500px;
  background: url("y-waves-5-goldenrod.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.test-img {
  position: fixed;
} */

/* Vertically center banner section */
.intro:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.intro .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

.intro .banner-text {
  width: 100%;
}
.intro .banner-text h1 {
  font: 90px/1.1em "opensans-bold", sans-serif;
  /* color: #ffbb00; */
  color: goldenrod;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}
.intro .banner-text h3 {
  font: 18px/1.9em "librebaskerville-regular", serif;
  color: #a8a8a8;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.intro .banner-text h3 span,
.intro .banner-text h3 a {
  color: #fff;
}
.intro .banner-text hr {
  width: 85%;
  margin: 18px auto 24px auto;
  /* border-color: #2f2d2e; */
  /* border-color: rgba(150, 150, 150, 0.1); */
  border-color: rgba(218, 165, 32, 0.25);
}

/* Header social links */
.intro .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
.intro .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
.intro .social li a {
  color: #fff;
}
.intro .social li a:hover {
  color: goldenrod; /* Hover */
}

/* Scrolldown link */
.intro .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.intro .scrolldown a:hover {
  color: goldenrod; /* Hover */
}

/* Navigation */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  background: #1d161a;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px "opensans-bold", sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
.opaque {
  background-color: #333;
}

/* Hide toggle button */
#nav-wrap > a.mobile-btn {
  display: none;
}

ul#nav {
  min-height: 48px;
  width: auto;

  /* Center align the menu */
  text-align: center;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
ul#nav li a {
  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;

  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

ul#nav li a:active {
  background-color: transparent !important;
}
ul#nav li.current a {
  color: indianred;
}

/* About Section */
#about {
  /* background: #2b2b2b; */
  /* background: linear-gradient(#1d161a, #3a2c34); */
  background: linear-gradient(#121254, #0e0e3f);
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

#about .bio {
  white-space: pre-wrap; /* Allows for \n for line breaking in strings - used by resumeData */
}

#about a,
#about a:visited {
  color: #fff;
}
#about a:hover,
#about a:focus {
  color: goldenrod; /* Hover */
}

#about h2 {
  font: 22px/30px "opensans-bold", sans-serif;
  color: #fff;
  margin-bottom: 12px;
}
#about p {
  line-height: 30px;
  /* font-size: 110%; */
  /* font-weight: 450; */
  /* color: #7a7a7a; */
  color: #a8a8a8;
}
/* #about .profile-pic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
} */
#about .contact-details {
  width: 41.66667%;
}
#about .download {
  width: 58.33333%;
  padding-top: 6px;
}
#about .main-col {
  padding-right: 5%;
}
#about .download .button {
  margin-top: 6px;
  /* background: #444; */
  /* color: #121254; */
  color: white;
  background: goldenrod;
  /* background: #121254; */
}
#about .download .button:hover {
  /* background: #fff; */
  opacity: 75%;
  color: white;
}
#about .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

/* Resume Section */
#resume {
  /* background: #fff; */
  /* background: goldenrod; /* Hover */
  /* background: #f2f2f2; */
  /* background: linear-gradient(#3a2c34, #57424e); */
  /* background: #e9e9fb; */
  /* background: radial-gradient(
    circle,
    rgba(252, 246, 233, 1) 0%,
    rgba(233, 233, 251, 1) 100%
  ); */
  background: linear-gradient(0deg, #fcf6e9 0%, #d4d4f7 100%);
  background-attachment: fixed;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}

#resume .download {
  padding-top: 6px;
}
#resume .download .button {
  margin-top: 6px;
  /* background: #444; */
  /* color: #121254; */
  color: white;
  background: goldenrod;
  /* background: #121254; */
}
#resume .download .button:hover {
  /* background: #fff; */
  opacity: 75%;
  color: white;
}
#resume .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

#resume a,
#resume a:visited {
  color: goldenrod; /* Hover */
}
#resume a:hover,
#resume a:focus {
  color: #313131;
}

#resume h1 {
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#resume h1 span {
  border-bottom: 3px solid goldenrod; /* Hover */
  padding-bottom: 6px;
}
#resume h3 {
  font: 25px/30px "opensans-bold", sans-serif;
}

#resume .header-col {
  padding-top: 9px;
}
#resume .main-col {
  padding-right: 10%;
}

.education,
.work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
}
#resume .info {
  font: 16px/24px "librebaskerville-italic", serif;
  color: #6e7881;
  margin-bottom: 18px;
  margin-top: 9px;
}
#resume .info span {
  margin-right: 5px;
  margin-left: 5px;
}
#resume .date {
  font: 15px/24px "opensans-regular", sans-serif;
  margin-top: 6px;
}

/* Projects Section */
#projects {
  /* background: #ebeeee; */
  /* background: linear-gradient(#3a2c34, #1d161a); */
  /* background: #3a2c34; */
  background: linear-gradient(#0e0e3f, #121254);
  padding-top: 60px;
  padding-bottom: 60px;
}

.card-container {
  margin: auto;
  width: 75%;
  text-align: center;
  /* display: flex; */
  padding: 10px;
}

#projects h1 {
  font: 15px/24px "opensans-semibold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 48px;
  color: #95a3a3;
}

/* Projects Content */
#projects-wrapper .columns {
  margin-bottom: 36px;
}
.projects-item .item-wrap {
  background: #fff;
  overflow: hidden;
  position: relative;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.projects-item .item-wrap a {
  display: block;
  cursor: pointer;
}

/* overlay */
.projects-item .item-wrap .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  background: url(../../images/overlay-bg.png) repeat;
}
.projects-item .item-wrap .link-icon {
  display: block;
  color: #fff;
  height: 30px;
  width: 30px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}
.projects-item .item-wrap img {
  vertical-align: bottom;
}
.projects-item .projects-item-meta {
  padding: 18px;
}
.projects-item .projects-item-meta h5 {
  font: 14px/21px "opensans-bold", sans-serif;
  color: #fff;
}
.projects-item .projects-item-meta p {
  font: 12px/18px "opensans-light", sans-serif;
  color: #c6c7c7;
  margin-bottom: 0;
}

/* on hover */
.projects-item:hover .overlay {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}
.projects-item:hover .link-icon {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}
